doctype html
html
	head
		title WAR! 
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src='javascripts/war.js')
		link(rel='stylesheet', href='/stylesheets/war-style.css')

	body
		div(id = "content")
			textarea(id = "text")
			div(id = "result")

